<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="shortcut icon" sizes="16x16" href="https://crafatar.com/avatars/{{ uuid }}">
    <link rel="shortcut icon" sizes="128x128" href="https://crafatar.com/avatars/{{ uuid }}">
    <link rel="shortcut icon" sizes="192x192" href="https://crafatar.com/avatars/{{ uuid }}">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600" rel="stylesheet">
    <link rel="stylesheet" href="/static/theme-dark.min.css" data-skin="default">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/mc-style.css">
    <link rel="stylesheet" href="http://sky.lea.moe/resources/css/inventory.css?v13">
    <link rel="stylesheet" href="/static/skill.css">
    <style>
        td {
            padding: 4px;
        }
    </style>
</head>
<body>
<div style="position: relative">
    <div id="nn_skinl" class="fixed"></div>
    <div id="nn_skinr" class="fixed"></div>
</div>
<div id="nn_mobile_lb1"></div>
<header class="mb-3">
    <div class="container">
        <nav class="navbar navbar-expand px-0">
            <a class="navbar-brand text-dark d-none d-lg-block" href="/" title="Hypixel Skyblock Statistics"><img
                    class="align-top" src="https://static.namemc.com/i/favicon-30.png" width="30" height="30"
                    alt="HyStats"><span class="ml-2" translate="no">HyStats</span></a>
            <ul class="navbar-nav mr-auto d-none d-lg-flex">
                <li class="nav-item"><a class="nav-link" href="/top-players"><i
                        class="fas fa-user menu-icon d-none d-xl-inline-block"></i>Top Skyblock Players</a></li>
                <li class="nav-item"><a class="nav-link" href="/auction-house"><i
                        class="fas fa-home menu-icon d-none d-xl-inline-block"></i>Auction house Overview</a></li>
                <li class="nav-item"><a class="nav-link" href="/bazaar"><i
                        class="far fa-coins menu-icon d-none d-xl-inline-block"></i>Bazaar Overview</a></li>
                <li class="nav-item"><a class="nav-link" href="/discord"><i
                        class="fab fa-discord menu-icon"></i>Discord</a></li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link pl-0" href="/login"><i class="far fa-sign-in menu-icon"></i>Log In</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="container">
        <form method="GET" action="/profile/">
            <div class="input-group input-group-lg">
                <input style="font-family: 'Consolas', monospace" id="search-box" class="form-control" type="search"
                       name="username" placeholder="Enter a Mojang authenticated username" autocomplete="off"
                       spellcheck="false">
                <div class="input-group-append">
                    <button class="btn" type="submit" title="Search"><i class="far fa-search"></i></button>
                </div>
            </div>
        </form>
        <script>
            if (!location.hash) {
                var searchBoxElement = document.getElementById('search-box');
                searchBoxElement.focus();
                searchBoxElement.select();
            }
        </script>
    </div>
</header>
<main class="container">
        {% if username|string() == "Technoblade" %}
        <h1 translate="no" style="font-family:Minecraft;font-weight: normal;font-style: normal;"><span
                class="mc-light-purple">[PIG</span><span class="mc-aqua">+++</span><span class="mc-light-purple">] {{ username }}</span></h1>
        {% elif network_rank == "YouTube": %}
        <h1 translate="no" style="font-family:Minecraft;font-weight: normal;font-style: normal;"><span
                class="mc-red">[</span><span class="mc-white">YOUTUBE</span><span class="mc-red">] {{ username }}</span></h1>
        {% elif network_rank == "Admin": %}
        <h1 translate="no" style="font-family:Minecraft;font-weight: normal;font-style: normal;"><span
                class="mc-red">[ADMIN] {{ username }}</span></h1>
        {% elif network_rank == "Moderator": %}
        <h1 translate="no" style="font-family:Minecraft;font-weight: normal;font-style: normal;"><span
                class="mc-dark-green">[MOD] {{ username }}</span></h1>
        {% elif network_rank == "Helper": %}
        <h1 translate="no" style="font-family:Minecraft;font-weight: normal;font-style: normal;"><span
                class="mc-blue">[HELPER] {{ username }}</span></h1>
        {% elif network_rank == "MVP++": %}
        <h1 translate="no" style="font-family:Minecraft;font-weight: normal;font-style: normal;"><span
                class="mc-gold">[MVP</span><span class="{{ rank_plus_color }}">++</span><span class="mc-gold">] {{ username }}</span></h1>
        {% elif network_rank == "MVP+": %}
        <h1 translate="no" style="font-family:Minecraft;font-weight: normal;font-style: normal;"><span
                class="mc-aqua">[MVP</span><span class="{{ rank_plus_color }}">+</span><span class="mc-aqua">] {{ username }}</span></h1>
        {% elif network_rank == "MVP": %}
        <h1 translate="no" style="font-family:Minecraft;font-weight: normal;font-style: normal;"><span
                class="mc-aqua">[MVP] {{ username }}</span></h1>
        {% elif network_rank == "VIP+": %}
        <h1 translate="no" style="font-family:Minecraft;font-weight: normal;font-style: normal;"><span
                class="mc-green">[VIP</span><span class="mc-gold">+</span><span class="mc-green">] {{ username }}</span></h1>
        {% elif network_rank == "VIP": %}
        <h1 translate="no" style="font-family:Minecraft;font-weight: normal;font-style: normal;"><span
                class="mc-green">[VIP] {{ username }}</span></h1>
        {% elif network_rank == "Non": %}
        <h1 translate="no" style="font-family:Minecraft;font-weight: normal;font-style: normal;"><span
                class="mc-gray">{{ username }}</span></h1>
        {% endif %}
        {% if is_online|string() == "True" %}
    <h4><mark style="background-color:#55FF55;border-radius: 10px;padding: 3px">Currently Online</mark></h4><h6><span style="font-weight: lighter">for</span> <strong> {{ last_login_from_now }}</strong>  <span style="font-weight: lighter">Currently Playing:</span><strong> {{ is_online_gameType }}</strong><span style="font-weight: lighter"> at </span><strong>{{ is_online_mode }}</strong></h6>
        {% else: %}
            <h4><mark style="background-color:#FF5555;border-radius: 10px;padding: 3px">Currently Offline</mark>   <span style="font-weight: lighter">Last Seen:</span><strong> {{ last_logout_from_now }}</strong><span style="font-weight: lighter">ago.</span></h4>
        {% endif %}


    <hr class="mt-1">
    <div class="row">
        <div class="col-lg-8 order-lg-2">
            <div class="card mb-3">
             <div class="card-header py-1">
                 <div align="center">
                     <span class="text-on"><span class="text-stats-for">Stats for </span> <span id="stats_for_player"> {{ username }} </span> on </span><div tabindex="5" id="stats_for_profile">
                            {{ profile_name }}
                        <div id="other_profiles">
                          <a class="goto" href="/stats/ba88ef0e3486423082eba5ab26120a78/ab94542cd1d24aa7982df2a955bacc60">Apple<div class="goto-last-played">last played 21 days ago</div></a>
                        </div>
                    </div>
                </div>
             </div>
<!--                <div class="card-header py-1"><h6 align="center" style="margin-top: 3px;margin-bottom: 3px"><span style="font-weight: lighter">Statistics for </span><<strong>{{ profile_name }}</strong></h6></div>-->
                <div class="card-body py-1">
                    <div class="row no-gutters align-items-center">
                        <div class="col      order-md-1 col-md-4">
                            <img src="/static/img/icons/health.png" height="20" width="20" title="Health"> <span style="color:#EF524F"><strong>Health</strong></span></div>
                        <div class="col-12   order-md-2 col-md" style="font-size: 90%"><samp>{{ profile_attributes['health'] }}</samp>
                        </div>
                    </div>
                    <div class="row no-gutters align-items-center">
                        <div class="col      order-md-1 col-md-4"><img src="/static/img/icons/defense.png" height="20" width="20"> <span style="color:#9CCC65"><strong>Defense</strong></span></div>
                        <div class="col-12   order-md-2 col-md" style="font-size: 90%"><samp>{{ profile_attributes['defense'] }}</samp>
                        </div>
                    </div>
                    <div class="row no-gutters align-items-center">
                        <div class="col      order-md-1 col-md-4"><img src="/static/img/icons/strength-new.png" height="20" width="20"> <span style="color:#EF524F"><strong>Strength</strong></span></div>
                        <div class="col-12   order-md-2 col-md" style="font-size: 90%"><samp>{{ profile_attributes['strength'] }}</samp>
                        </div>
                    </div>
                    <div class="row no-gutters align-items-center">
                        <div class="col      order-md-1 col-md-4"><img src="/static/img/icons/speed.png" height="20" width="20"> <span style="color:#FFFFFF"><strong>Speed</strong></span></div>
                        <div class="col-12   order-md-2 col-md" style="font-size: 90%"><samp>{{ profile_attributes['speed'] }}%</samp>
                        </div>
                    </div>
                    <div class="row no-gutters align-items-center">
                        <div class="col      order-md-1 col-md-4"><img src="/static/img/icons/crit-chance.png" height="20" width="20"> <span style="color:#7986CB"><strong>Crit Chance</strong></span></div>
                        <div class="col-12   order-md-2 col-md" style="font-size: 90%"><samp>{{ profile_attributes['crit_chance'] }}%</samp>
                        </div>
                    </div>
                    <div class="row no-gutters align-items-center">
                        <div class="col      order-md-1 col-md-4"><img src="/static/img/icons/crit-damage.png" height="20" width="20"> <span style="color:#7986CB"><strong>Crit Damage</strong></span></div>
                        <div class="col-12   order-md-2 col-md" style="font-size: 90%"><samp>{{ profile_attributes['crit_damage'] }}%</samp>
                        </div>
                    </div>
                    <div class="row no-gutters align-items-center">
                        <div class="col      order-md-1 col-md-4"><img src="/static/img/icons/bonus-attack-speed.png" height="20" width="20"> <span style="color:#F7F779"><strong>Attack Speed</strong></span></div>
                        <div class="col-12   order-md-2 col-md" style="font-size: 90%"><samp>{{ profile_attributes['bonus_attack_speed'] }}%</samp>
                        </div>
                    </div>
                    <div class="row no-gutters align-items-center">
                        <div class="col      order-md-1 col-md-4"><img src="/static/img/icons/intelligence.png" height="20" width="20"> <span style="color:#81D4FA"><strong>Intelligence</strong></span></div>
                        <div class="col-12   order-md-2 col-md" style="font-size: 90%"><samp>{{ profile_attributes['intelligence'] }}</samp>
                        </div>
                    </div>
                    <div class="row no-gutters align-items-center">
                        <div class="col      order-md-1 col-md-4"><img src="/static/img/icons/sea-creature-chance.png" height="20" width="20"> <span style="color:#1CD2D2"><strong>SC Chance</strong></span></div>
                        <div class="col-12   order-md-2 col-md" style="font-size: 90%"><samp>{{ profile_attributes['sea_creature_chance'] }}%</samp>
                        </div>
                    </div>
                    <div class="row no-gutters align-items-center">
                        <div class="col      order-md-1 col-md-4"><img src="/static/img/icons/magic-find.png" height="20" width="20"> <span style="color:#3BDDDD"><strong>Magic Find</strong></span></div>
                        <div class="col-12   order-md-2 col-md" style="font-size: 90%"><samp>{{ profile_attributes['magic_find'] }}</samp>
                        </div>
                    </div>
                    <div class="row no-gutters align-items-center">
                        <div class="col      order-md-1 col-md-4"><img src="/static/img/icons/pet-luck.png" height="20" width="20"> <span style="color:#FD64DE"><strong>Pet Luck</strong></span></div>
                        <div class="col-12   order-md-2 col-md" style="font-size: 90%"><samp>{{ profile_attributes['pet_luck'] }}</samp>
                        </div>
                    </div>
                    <div class="additional-stat"><span class="stat-name">Last Area: </span><span class="stat-value">PLACEHOLDER</span></div>
                    <div class="additional-stat"><span class="stat-name">Last Updated: </span><span class="stat-value">PLACEHOLDER</span></div>
                    <div class="additional-stat"><span class="stat-name">Joined: </span><span class="stat-value">PLACEHOLDER</span></div>
                    <div class="additional-stat"><span class="stat-name">Purse: </span><span class="stat-value">PLACEHOLDER</span></div>
                    <div class="additional-stat"><span class="stat-name">Average Skill Level: </span><span class="stat-value">PLACEHOLDER</span></div>
                    <div class="additional-stat"><span class="stat-name">Fairy Souls: </span><span class="stat-value">PLACEHOLDER / 209</span></div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header py-1" align="center"><strong>Skills</strong></div>
                    <div style="padding-left: 30px">
                    <div id="other_skills">
                    {% if skill_info_api_check == "enabled" %}
                        {% if profile_skills['taming']['level'] < 50 %}
                            <div class="skill xp-skill">
                                <div class="skill-icon"><div class="item-icon icon-383_0_12"></div></div>
                                <div class="skill-name">Taming <span class="skill-level">{{ profile_skills['taming']['level'] }}</span></div>
                                <div class="skill-bar" data-skill="Taming">
                                    <div class="skill-progress-bar" style="width:{{ profile_skills['taming']['progress'] * 100 }}%"></div>
                                    <div class="skill-progress-text">
                                        {{ human_format(profile_skills['taming']['xpCurrent']) }} XP /
                                        {{ human_format(profile_skills['taming']['xpForNext']) }} XP
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="skill xp-skill maxed-skill">
                                <div class="skill-icon"><div class="item-icon icon-383_0_12"></div><div class="piece-shine"></div></div>
                                <div class="skill-name">Taming <span class="skill-level">50</span></div>
                                <div class="skill-bar" data-skill="Taming">
                                    <div class="skill-progress-bar" style="width:100%"></div>
                                    <div class="skill-progress-text">
                                        {{ human_format(profile_skills['taming']['xpCurrent']) }} XP
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% else %}
                    <div class="skill xp-skill ">
                        <div class="skill-icon"><div class="item-icon icon-383_0_12"></div></div>
                        <div class="skill-name">Taming <span class="skill-level">0</span></div>
                        <div class="skill-bar" data-skill="Taming">
                            <div class="skill-progress-bar" style="width:0%"></div>
                            <div class="skill-progress-text">
                                0 XP / 0 XP
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% if skill_info_api_check == "enabled" %}
                        {% if profile_skills['farming']['level'] < 50 %}
                            <div class="skill xp-skill ">
                                <div class="skill-icon"><div class="item-icon icon-294_0"></div></div>
                                <div class="skill-name">Farming <span class="skill-level">{{ profile_skills['farming']['level'] }}</span></div>
                                <div class="skill-bar" data-skill="Taming">
                                    <div class="skill-progress-bar" style="width:{{ profile_skills['farming']['progress'] * 100 }}%"></div>
                                    <div class="skill-progress-text">
                                        {{ human_format(profile_skills['farming']['xpCurrent']) }} XP /
                                        {{ human_format(profile_skills['farming']['xpForNext']) }} XP
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="skill xp-skill maxed-skill">
                                <div class="skill-icon"><div class="item-icon icon-294_0"></div><div class="piece-shine"></div></div>
                                <div class="skill-name">Farming <span class="skill-level">50</span></div>
                                <div class="skill-bar" data-skill="Farming">
                                    <div class="skill-progress-bar" style="width:100%"></div>
                                    <div class="skill-progress-text">
                                        {{ human_format(profile_skills['farming']['xpCurrent']) }} XP
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% else %}
                    <div class="skill xp-skill ">
                        <div class="skill-icon"><div class="item-icon icon-294_0"></div></div>
                        <div class="skill-name">Farming <span class="skill-level">0</span></div>
                        <div class="skill-bar" data-skill="Farming">
                            <div class="skill-progress-bar" style="width:0%"></div>
                            <div class="skill-progress-text">
                                0 XP / 0 XP
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% if skill_info_api_check == "enabled" %}
                        {% if profile_skills['mining']['level'] < 50 %}
                            <div class="skill xp-skill ">
                                <div class="skill-icon"><div class="item-icon icon-274_0"></div></div>
                                <div class="skill-name">Mining <span class="skill-level">{{ profile_skills['mining']['level'] }}</span></div>
                                <div class="skill-bar" data-skill="Taming">
                                    <div class="skill-progress-bar" style="width:{{ profile_skills['mining']['progress'] * 100 }}%"></div>
                                    <div class="skill-progress-text">
                                        {{ human_format(profile_skills['mining']['xpCurrent']) }} XP /
                                        {{ human_format(profile_skills['mining']['xpForNext']) }} XP
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="skill xp-skill maxed-skill">
                                <div class="skill-icon"><div class="item-icon icon-274_0"></div><div class="piece-shine"></div></div>
                                <div class="skill-name">Mining <span class="skill-level">50</span></div>
                                <div class="skill-bar" data-skill="Farming">
                                    <div class="skill-progress-bar" style="width:100%"></div>
                                    <div class="skill-progress-text">
                                        {{ human_format(profile_skills['mining']['xpCurrent']) }} XP
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% else %}
                    <div class="skill xp-skill ">
                        <div class="skill-icon"><div class="item-icon icon-274_0"></div></div>
                        <div class="skill-name">Mining <span class="skill-level">0</span></div>
                        <div class="skill-bar" data-skill="Farming">
                            <div class="skill-progress-bar" style="width:0%"></div>
                            <div class="skill-progress-text">
                                0 XP / 0 XP
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% if skill_info_api_check == "enabled" %}
                        {% if profile_skills['combat']['level'] < 50 %}
                            <div class="skill xp-skill ">
                                <div class="skill-icon"><div class="item-icon icon-272_0"></div></div>
                                <div class="skill-name">Combat <span class="skill-level">{{ profile_skills['combat']['level'] }}</span></div>
                                <div class="skill-bar" data-skill="Taming">
                                    <div class="skill-progress-bar" style="width:{{ profile_skills['combat']['progress'] * 100 }}%"></div>
                                    <div class="skill-progress-text">
                                        {{ human_format(profile_skills['combat']['xpCurrent']) }} XP /
                                        {{ human_format(profile_skills['combat']['xpForNext']) }} XP
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="skill xp-skill maxed-skill">
                                <div class="skill-icon"><div class="item-icon icon-272_0"></div><div class="piece-shine"></div></div>
                                <div class="skill-name">Combat <span class="skill-level">50</span></div>
                                <div class="skill-bar" data-skill="Farming">
                                    <div class="skill-progress-bar" style="width:100%"></div>
                                    <div class="skill-progress-text">
                                        {{ human_format(profile_skills['combat']['xpCurrent']) }} XP
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% else %}
                    <div class="skill xp-skill ">
                        <div class="skill-icon"><div class="item-icon icon-272_0"></div></div>
                        <div class="skill-name">Combat <span class="skill-level">0</span></div>
                        <div class="skill-bar" data-skill="Farming">
                            <div class="skill-progress-bar" style="width:0%"></div>
                            <div class="skill-progress-text">
                                0 XP / 0 XP
                            </div>
                        </div>
                    </div>
                    {% endif %}


                    {% if skill_info_api_check == "enabled" %}
                        {% if profile_skills['foraging']['level'] < 50 %}
                            <div class="skill xp-skill ">
                                <div class="skill-icon"><div class="item-icon icon-6_3"></div></div>
                                <div class="skill-name">Foraging <span class="skill-level">{{ profile_skills['foraging']['level'] }}</span></div>
                                <div class="skill-bar" data-skill="Taming">
                                    <div class="skill-progress-bar" style="width:{{ profile_skills['foraging']['progress'] * 100 }}%"></div>
                                    <div class="skill-progress-text">
                                        {{ human_format(profile_skills['foraging']['xpCurrent']) }} XP /
                                        {{ human_format(profile_skills['foraging']['xpForNext']) }} XP
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="skill xp-skill maxed-skill">
                                <div class="skill-icon"><div class="item-icon icon-6_3"></div><div class="piece-shine"></div></div>
                                <div class="skill-name">Foraging <span class="skill-level">50</span></div>
                                <div class="skill-bar" data-skill="Farming">
                                    <div class="skill-progress-bar" style="width:100%"></div>
                                    <div class="skill-progress-text">
                                        {{ human_format(profile_skills['foraging']['xpCurrent']) }} XP
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% else %}
                    <div class="skill xp-skill ">
                        <div class="skill-icon"><div class="item-icon icon-6_3"></div></div>
                        <div class="skill-name">Foraging <span class="skill-level">0</span></div>
                        <div class="skill-bar" data-skill="Farming">
                            <div class="skill-progress-bar" style="width:0%"></div>
                            <div class="skill-progress-text">
                                0 XP / 0 XP
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% if skill_info_api_check == "enabled" %}
                        {% if profile_skills['fishing']['level'] < 50 %}
                            <div class="skill xp-skill ">
                                <div class="skill-icon"><div class="item-icon icon-346_0"></div></div>
                                <div class="skill-name">Fishing <span class="skill-level">{{ profile_skills['fishing']['level'] }}</span></div>
                                <div class="skill-bar" data-skill="Taming">
                                    <div class="skill-progress-bar" style="width:{{ profile_skills['fishing']['progress'] * 100 }}%"></div>
                                    <div class="skill-progress-text">
                                        {{ human_format(profile_skills['fishing']['xpCurrent']) }} XP /
                                        {{ human_format(profile_skills['fishing']['xpForNext']) }} XP
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="skill xp-skill maxed-skill">
                                <div class="skill-icon"><div class="item-icon icon-346_0"></div><div class="piece-shine"></div></div>
                                <div class="skill-name">Fishing <span class="skill-level">50</span></div>
                                <div class="skill-bar" data-skill="Farming">
                                    <div class="skill-progress-bar" style="width:100%"></div>
                                    <div class="skill-progress-text">
                                        {{ human_format(profile_skills['fishing']['xpCurrent']) }} XP
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% else %}
                    <div class="skill xp-skill ">
                        <div class="skill-icon"><div class="item-icon icon-346_0"></div></div>
                        <div class="skill-name">Fishing <span class="skill-level">0</span></div>
                        <div class="skill-bar" data-skill="Farming">
                            <div class="skill-progress-bar" style="width:0%"></div>
                            <div class="skill-progress-text">
                                0 XP / 0 XP
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% if skill_info_api_check == "enabled" %}
                        {% if profile_skills['enchanting']['level'] < 50 %}
                            <div class="skill xp-skill ">
                                <div class="skill-icon"><div class="item-icon icon-116_0"></div></div>
                                <div class="skill-name">Enchanting <span class="skill-level">{{ profile_skills['enchanting']['level'] }}</span></div>
                                <div class="skill-bar" data-skill="Taming">
                                    <div class="skill-progress-bar" style="width:{{ profile_skills['enchanting']['progress'] * 100 }}%"></div>
                                    <div class="skill-progress-text">
                                        {{ human_format(profile_skills['enchanting']['xpCurrent']) }} XP /
                                        {{ human_format(profile_skills['enchanting']['xpForNext']) }} XP
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="skill xp-skill maxed-skill">
                                <div class="skill-icon"><div class="item-icon icon-116_0"></div><div class="piece-shine"></div></div>
                                <div class="skill-name">Enchanting <span class="skill-level">50</span></div>
                                <div class="skill-bar" data-skill="Farming">
                                    <div class="skill-progress-bar" style="width:100%"></div>
                                    <div class="skill-progress-text">
                                        {{ human_format(profile_skills['enchanting']['xpCurrent']) }} XP
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% else %}
                    <div class="skill xp-skill ">
                        <div class="skill-icon"><div class="item-icon icon-116_0"></div></div>
                        <div class="skill-name">Enchanting <span class="skill-level">0</span></div>
                        <div class="skill-bar" data-skill="Farming">
                            <div class="skill-progress-bar" style="width:0%"></div>
                            <div class="skill-progress-text">
                                0 XP / 0 XP
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% if skill_info_api_check == "enabled" %}
                        {% if profile_skills['alchemy']['level'] < 50 %}
                            <div class="skill xp-skill ">
                                <div class="skill-icon"><div class="item-icon icon-379_0"></div></div>
                                <div class="skill-name">Alchemy <span class="skill-level">{{ profile_skills['alchemy']['level'] }}</span></div>
                                <div class="skill-bar" data-skill="Taming">
                                    <div class="skill-progress-bar" style="width:{{ profile_skills['alchemy']['progress'] * 100 }}%"></div>
                                    <div class="skill-progress-text">
                                        {{ human_format(profile_skills['alchemy']['xpCurrent']) }} XP /
                                        {{ human_format(profile_skills['alchemy']['xpForNext']) }} XP
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="skill xp-skill maxed-skill">
                                <div class="skill-icon"><div class="item-icon icon-379_0"></div><div class="piece-shine"></div></div>
                                <div class="skill-name">Alchemy <span class="skill-level">50</span></div>
                                <div class="skill-bar" data-skill="Farming">
                                    <div class="skill-progress-bar" style="width:100%"></div>
                                    <div class="skill-progress-text">
                                        {{ human_format(profile_skills['alchemy']['xpCurrent']) }} XP
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% else %}
                    <div class="skill xp-skill ">
                        <div class="skill-icon"><div class="item-icon icon-379_0"></div></div>
                        <div class="skill-name">Alchemy <span class="skill-level">0</span></div>
                        <div class="skill-bar" data-skill="Farming">
                            <div class="skill-progress-bar" style="width:0%"></div>
                            <div class="skill-progress-text">
                                0 XP / 0 XP
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% if 'carpentry' in profile_skills %}
                        {% if profile_skills['carpentry']['level'] < 50 %}
                            <div class="skill xp-skill ">
                                <div class="skill-icon"><div class="item-icon icon-58_0"></div></div>
                                <div class="skill-name">Carpentry <span class="skill-level">{{ profile_skills['carpentry']['level'] }}</span></div>
                                <div class="skill-bar" data-skill="Taming">
                                    <div class="skill-progress-bar" style="width:{{ profile_skills['carpentry']['progress'] * 100 }}%"></div>
                                    <div class="skill-progress-text">
                                        {{ human_format(profile_skills['carpentry']['xpCurrent']) }} XP /
                                        {{ human_format(profile_skills['carpentry']['xpForNext']) }} XP
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="skill xp-skill maxed-skill">
                                <div class="skill-icon"><div class="item-icon icon-58_0"></div><div class="piece-shine"></div></div>
                                <div class="skill-name">Carpentry <span class="skill-level">50</span></div>
                                <div class="skill-bar" data-skill="Farming">
                                    <div class="skill-progress-bar" style="width:100%"></div>
                                    <div class="skill-progress-text">
                                        {{ human_format(profile_skills['carpentry']['xpCurrent']) }} XP
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% else %}
                    <div class="skill xp-skill ">
                        <div class="skill-icon"><div class="item-icon icon-58_0"></div></div>
                        <div class="skill-name">Carpentry <span class="skill-level">0</span></div>
                        <div class="skill-bar" data-skill="Farming">
                            <div class="skill-progress-bar" style="width:0%"></div>
                            <div class="skill-progress-text">
                                0 XP / 0 XP
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% if skill_info_api_check == "enabled" %}
                        {% if profile_skills['runecrafting']['level'] < 25 %}
                            <div class="skill xp-skill ">
                                <div class="skill-icon"><div class="item-icon icon-378_0"></div></div>
                                <div class="skill-name">Runecrafting <span class="skill-level">{{ profile_skills['runecrafting']['level'] }}</span></div>
                                <div class="skill-bar" data-skill="Taming">
                                    <div class="skill-progress-bar" style="width:{{ profile_skills['runecrafting']['progress'] * 100 }}%"></div>
                                    <div class="skill-progress-text">
                                        {{ human_format(profile_skills['runecrafting']['xpCurrent']) }} XP /
                                        {{ human_format(profile_skills['runecrafting']['xpForNext']) }} XP
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="skill xp-skill maxed-skill">
                                <div class="skill-icon"><div class="item-icon icon-378_0"></div><div class="piece-shine"></div></div>
                                <div class="skill-name">Runecrafting <span class="skill-level">25</span></div>
                                <div class="skill-bar" data-skill="Farming">
                                    <div class="skill-progress-bar" style="width:100%"></div>
                                    <div class="skill-progress-text">
                                        {{ human_format(profile_skills['runecrafting']['xpCurrent']) }} XP
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% else %}
                    <div class="skill xp-skill ">
                        <div class="skill-icon"><div class="item-icon icon-378_0"></div></div>
                        <div class="skill-name">Runecrafting <span class="skill-level">0</span></div>
                        <div class="skill-bar" data-skill="Farming">
                            <div class="skill-progress-bar" style="width:0%"></div>
                            <div class="skill-progress-text">
                                0 XP / 0 XP
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
            <div class="card mb-3">
                <div class="card-header py-1" align="center">
                    <strong>Minions</strong>
                </div>
                <div>
                    <div class="minion-category">
                        <div class="minion-category-header"><div class="minion-category-icon"><div class="item-icon icon-294_0"></div></div><span>farming</span>
                            <span class="category-header-maxed">max!</span>
                        </div>
                        <div class="minion max-minion">
                            <div class="minion-icon" style="background-image: url(https://sky.lea.moe/head/bbc571c5527336352e2fee2b40a9edfa2e809f64230779aa01253c6aa535881b)"></div>
                            <span class="stat-name">Wheat </span><span class="stat-value">11</span>
                        </div>
                        <div class="minion max-minion">
                            <div class="minion-icon" style="background-image: url(https://sky.lea.moe/head/a9bb5f0c56408c73cfa412345c8fc51f75b6c7311ae60e7099c4781c48760562)"></div>
                            <span class="stat-name">Pig </span><span class="stat-value">11</span>
                        </div>
                        <div class="minion max-minion">
                            <div class="minion-icon" style="background-image: url(https://sky.lea.moe/head/71a4620bb3459c1c2fa74b210b1c07b4a02254351f75173e643a0e009a63f558)"></div>
                            <span class="stat-name">Nether Wart </span><span class="stat-value">11</span>
                        </div>
                        <div class="minion max-minion">
                            <div class="minion-icon" style="background-image: url(https://sky.lea.moe/head/ef93ec6e67a6cd272c9a9684b67df62584cb084a265eee3cde141d20e70d7d72)"></div>
                            <span class="stat-name">Cactus </span><span class="stat-value">11</span>
                        </div>
                        <div class="minion max-minion">
                            <div class="minion-icon" style="background-image: url(https://sky.lea.moe/head/c2fd8976e1b64aebfd38afbe62aa1429914253df3417ace1f589e5cf45fbd717)"></div>
                            <span class="stat-name">Cow </span><span class="stat-value">11</span>
                        </div>
                        <div class="minion max-minion">
                            <div class="minion-icon" style="background-image: url(https://sky.lea.moe/head/acb680e96f6177cd8ffaf27e9625d8b544d720afc50738801818d0e745c0e5f7)"></div>
                            <span class="stat-name">Cocoa </span><span class="stat-value">11</span>
                        </div>
                        <div class="minion max-minion">
                            <div class="minion-icon" style="background-image: url(https://sky.lea.moe/head/7dda35a044cb0374b516015d991a0f65bf7d0fb6566e350496642cf2059ff1d9)"></div>
                            <span class="stat-name">Potato </span><span class="stat-value">11</span>
                        </div>
                        <div class="minion max-minion">
                            <div class="minion-icon" style="background-image: url(https://sky.lea.moe/head/2fced0e80f0d7a5d1f45a1a7217e6a99ea9720156c63f6efc84916d4837fabde)"></div>
                            <span class="stat-name">Sugar Cane </span><span class="stat-value">11</span>
                        </div>
                        <div class="minion max-minion">
                            <div class="minion-icon" style="background-image: url(https://sky.lea.moe/head/4baea990b45d330998cb0c1f8515c27b24f93bff1df0db056e647f8200d03b9d)"></div>
                            <span class="stat-name">Carrot </span><span class="stat-value">11</span>
                        </div>
                        <div class="minion max-minion">
                            <div class="minion-icon" style="background-image: url(https://sky.lea.moe/head/4a3b58341d196a9841ef1526b367209cbc9f96767c24f5f587cf413d42b74a93)"></div>
                            <span class="stat-name">Mushroom </span><span class="stat-value">11</span>
                        </div>
                        <div class="minion max-minion">
                            <div class="minion-icon" style="background-image: url(https://sky.lea.moe/head/a04b7da13b0a97839846aa5648f5ac6736ba0ca9fbf38cd366916e417153fd7f)"></div>
                            <span class="stat-name">Chicken </span><span class="stat-value">11</span>
                        </div>
                        <div class="minion max-minion">
                            <div class="minion-icon" style="background-image: url(https://sky.lea.moe/head/fd15d4b8bce708f77f963f1b4e87b1b969fef1766a3e9b67b249c59d5e80e8c5)"></div>
                            <span class="stat-name">Sheep </span><span class="stat-value">11</span>
                        </div>
                        <div class="minion max-minion">
                            <div class="minion-icon" style="background-image: url(https://sky.lea.moe/head/ef59c052d339bb6305cad370fd8c52f58269a957dfaf433a255597d95e68a373)"></div>
                            <span class="stat-name">Rabbit </span><span class="stat-value">11</span>
                        </div>
                        <div class="minion max-minion">
                            <div class="minion-icon" style="background-image: url(https://sky.lea.moe/head/f3fb663e843a7da787e290f23c8af2f97f7b6f572fa59a0d4d02186db6eaabb7)"></div>
                            <span class="stat-name">Pumpkin </span><span class="stat-value">11</span>
                        </div>
                        <div class="minion max-minion">
                            <div class="minion-icon" style="background-image: url(https://sky.lea.moe/head/95d54539ac8d3fba9696c91f4dcc7f15c320ab86029d5c92f12359abd4df811e)"></div>
                            <span class="stat-name">Melon </span><span class="stat-value">11</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header py-1" align="center">
                    <strong>Information</strong>
                </div>
                <div class="card-body py-1">
                    <div class="row no-gutters align-items-center">
                        {% if network_linked_socialmedia_number > 0 %}
                        <div class="col-auto col-md-4 pr-3"><strong>Linked Accounts ({{ network_linked_socialmedia_number }})</strong></div>
                        {% endif %}
                        <div class="col text-right text-md-left">
                            {% if not DISCORD|string() == "None" %}
                                <a href="javascript:void(0)" title="Discord" data-toggle="popover" data-placement="top"
                                data-content="{{ DISCORD }}"><img height="33" src="https://static.namemc.com/i/service/discord.svg"></a>
                            {% endif %}
                            {% if not INSTAGRAM|string() == "None" %}
                                <a href="{{ INSTAGRAM }}" target="_blank" rel="nofollow" title="Instagram"><img height="28" src="https://static.namemc.com/i/service/instagram.svg"></a>
                            {% endif %}
                            {% if not TWITCH|string() == "None" %}
                                <a href="{{ TWITCH }}" target="_blank" rel="nofollow" title="Twitch"><img height="28" src="https://static.namemc.com/i/service/twitch.svg"></a>
                            {% endif %}
                            {% if not YOUTUBE|string() == "None" %}
                                <a href="{{ YOUTUBE }}" target="_blank" rel="nofollow" title="YouTube"><img height="28" src="https://static.namemc.com/i/service/youtube.svg"></a>
                            {% endif %}
                            {% if not TWITTER|string() == "None" %}
                                <a href="{{ TWITTER }}" target="_blank" rel="nofollow" title="Twitter"><img height="28" src="https://static.namemc.com/i/service/twitter.svg"></a>
                            {% endif %}
                            {% if not HYPIXEL|string() == "None" %}
                                <a href="{{ HYPIXEL }}" target="_blank" rel="nofollow" title="Hypixel"><img style="border-radius:7px" height="28" width="28" src="/static/img/hypixel.jpg"></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-height: 15rem">
                <div class="card-header py-1">
                    <strong>
                        Profiles ({x})
                    </strong>
                </div>
                <div class="card-body player-list py-2">

                </div>
            </div>
            <div class="card mb-3" style="max-height: 15rem">
                <div class="card-header py-1">
                    <strong>
                        Profiles ({x})
                    </strong>
                </div>
                <div class="card-body player-list py-2">

                </div>
            </div>
            <div class="card mb-3" style="max-height: 15rem">
                <div class="card-header py-1">
                    <strong>
                        Profiles ({x})
                    </strong>
                </div>
                <div class="card-body player-list py-2">

                </div>
            </div>
        </div>
        <div class="col-lg-4 order-lg-1">
            <div class="card mb-3">
                <div class="card-body text-center p-0">
                    <div class="position-relative checkered-dark" style="background-size: auto 100%; background-image: url('/static/img/bg_blur.png');padding: 10px">
                        <img class="skin-3d drop-shadow auto-size align-top" height="270"
                             src="https://crafatar.com/renders/body/{{ uuid }}">
                        </form>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header py-1" align="center">
                    <div class="minion-category-icon"><div class="item-icon icon-266_0"></div></div><strong>Auctions Sold</strong>
                </div>
                <div class="card-body text-center" style="padding: 3px">
                    <p class="stat-raw-values">
                            <span><span class="stat-name">Fees: </span><span class="stat-value">PLACEHOLDER</span></span><br>

                            <span><span class="stat-name">Gold earned: </span><span class="stat-value">PLACEHOLDER</span></span><br>

                            <span><span class="stat-name">Items sold: </span><span class="stat-value">PLACEHOLDER</span></span><br>
                        </p></div>
            </div>
            <div class="card mb-3">
                <div class="card-header py-1" align="center">
                    <div class="minion-category-icon"><div class="item-icon icon-264_0"></div></div><strong>Auctions Bought</strong>
                </div>
                <div class="card-body text-center" style="padding: 3px">
                    <p class="stat-raw-values">
                            <span><span class="stat-name">Bids: </span><span class="stat-value">PLACEHOLDER</span></span><br>

                            <span><span class="stat-name">Highest Bid: </span><span class="stat-value">PLACEHOLDER</span></span><br>

                            <span><span class="stat-name">Bids Won: </span><span class="stat-value">PLACEHOLDER</span></span><br>

                            <span><span class="stat-name">Gold Spent: </span><span class="stat-value">PLACEHOLDER</span></span><br>

                            <span><span class="stat-name">Items Bought: </span><span class="stat-value">PLACEHOLDER</span></span><br>
                        </p></div>
            </div>
            <div class="card mb-3">
                <div class="card-header py-1" align="center">Miscellaneous</div>
                <div class="card-body">
                    <div class="minion-category-icon"><div class="item-icon icon-317_0"></div></div><strong>Races</strong>
                        <p class="stat-raw-values">
                            <span class="stat-name">End race best time: </span><span class="stat-value">PLACEHOLDER</span><br>
                            <span class="stat-name">Chicken race best time: </span><span class="stat-value">PLACEHOLDER</span><br>
                            <span class="stat-name">Chicken race best time 2: </span><span class="stat-value">PLACEHOLDER</span><br>
                        </p>
                    <div class="minion-category-icon"><div class="item-icon custom-icon" style="background-image: url(https://sky.lea.moe/head/b73a2114136b8ee4926caa51785414036a2b76e4f1668cb89d99716c421)"></div></div><strong>Gifts</strong>
                        <p class="stat-raw-values">
                            <span class="stat-name">Gifts Received: </span><span class="stat-value">PLACEHOLDER</span><br>
                            <span class="stat-name">Gifts Given: </span><span class="stat-value">PLACEHOLDER</span><br>
                        </p>
                    <div class="minion-category-icon"><div class="item-icon custom-icon" style="background-image: url(https://sky.lea.moe/head/aec3ff563290b13ff3bcc36898af7eaa988b6cc18dc254147f58374afe9b21b9)"></div></div><strong>Dragons</strong>
                        <p class="stat-raw-values">
                            <span class="stat-name">Dragons Fought: </span><span class="stat-value">PLACEHOLDER</span><br>
                            <span class="stat-name">End Crystals Destroyed: </span><span class="stat-value">PLACEHOLDER</span><br>
                        </p>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="https://static.namemc.com/js/three.min.js?v=d9f7c8e2c798bfbcd1f1ecd6a1ef6ef0"></script>
<footer style="line-height: initial">
    <div class="container text-center">
        <hr class="m-0"/>
        <div class="row py-2">
            <div class="col-sm py-1"><small><a
                    href="/cdn-cgi/l/email-protection#7d1e1213091c1e093d131c1018101e531e1210"><span class="__cf_email__"
                                                                                                    data-cfemail="f695999882979582b698979b939b95d895999b">[email&#160;protected]</span></a></small>
            </div>
            <div class="col-sm py-1"><small><a href="/privacy">Privacy</a></small></div>
            <div class="col-sm py-1"><small><a class="nn-cmp-show" href="#">Cookie Settings</a></small></div>
            <div class="col-sm py-1"><small>Emoji by <a class="text-nowrap" href="https://twitter.github.io/twemoji/"
                                                        target="_blank">Twem❤ji</a></small></div>
            <div class="col-sm py-1"><small>Copyright © 2015–2020</small></div>
        </div>
    </div>
</footer>
<div id="celtra-reveal-wrapper" style="position:fixed; height: auto; width: 100%">
    <div id="nn_1by1"></div>
</div>
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="https://static.namemc.com/assets/vendor/jquery/jquery.min.js"></script>
<script src="https://static.namemc.com/assets/vendor/bootstrap/js/popper.min.js"></script>
<script src="https://static.namemc.com/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="https://static.namemc.com/assets/vendor/stacked-menu/stacked-menu.min.js"></script>
<script src="https://static.namemc.com/assets/javascript/theme.min.js"></script>
<script src="https://static.namemc.com/js/clipboard.min.js?v=f06c52bfddb458ad87349acf9fac06c5"></script>
<script src="https://static.namemc.com/js/script.js?v=74028a868a2a3ab7ea76b4357d33b893"></script>
<script src="https://static.namemc.com/js/namemc-skins.js?v=4a6e6072fd745e0dfe4c855fea1c3709"></script>
<script>
    $('.copy-button').tooltip({"placement": "top", "trigger": "manual", "boundary": "viewport", "title": "Copied"});
    new ClipboardJS('.copy-button').on('success', function (e) {
        var element = $(e.trigger);
        element.tooltip('show');
        clearTimeout(element.attr('data-timeout'));
        element.attr('data-timeout', setTimeout(function () {
            element.attr('data-timeout', null);
            element.tooltip('hide');
        }, 500));
    });
</script>
</body>
</html>